@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  :root {
    --color-primary: #e67e22;
    --color-secondary: #8b4513;
    --color-accent: #f4a261;
    --color-green: #6a994e;
    --color-beige: #f5e1da;
    --color-terracotta: #d5573b;
    --color-sage: #b7c59b;
    --color-cream: #fff5e1;
  }
  .dark {
    --color-primary: #cc6618;
    --color-secondary: #66330c;
    --color-accent: #d98f4d;
    --color-green: #55803d;
    --color-beige: #4a3d38;
    --color-terracotta: #a8422b;
    --color-sage: #8a9675;
    --color-cream: #332d28;
    --color-beige-dark: #9b8b85;
  }
  .iconOutlineStyles {
    @apply h-6 w-6 stroke-natural-terracotta transition-all hover:scale-110 active:scale-125 dark:stroke-accent;
  }
  .iconFillStyle {
    @apply fill-natural-terracotta dark:fill-accent;
  }
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.natural.beige");
    border-right-color: theme("colors.natural.sage");
    animation: rotate 1s infinite linear;
  }

  .miniSpinner {
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid theme("colors.natural.beige");
    border-right-color: theme("colors.natural.sage");
    animation: rotate 1s infinite linear;
  }
  .loadingSpinner {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1.6s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  ::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
  .rdp-root {
    --rdp-accent-color: indigo !important;
    --rdp-accent-background-color: #f0f0f0; /* Change the accent background color. */
  }
  .tooltipArrow {
    clip-path: polygon(51% 50%, 100% 50%, 50% 100%, 0% 50%);
  }
}
:root .fc .fc-daygrid-event {
  @apply mt-[4px] cursor-pointer;
}
